.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

form {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
}

button {
  padding: 10px 20px;
}

.error {
  color: red;
  font-size: 0.8em;
}